/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map{
height: 91%;
width: 85%;
margin: 50px;
}

#NDVIImageCard {
       height: 91%;
       width: 85%;
       margin: 50px;
       }

#animation {

       max-width: 20%;
       max-height: 10%;

}
body {
       
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-gap: 10px;
       grid-auto-rows: minmax(91%, auto);

}

#NDVIImage {
       max-width:100%;
       max-height:100%;
}

#NDVIImage,
.card-body {
       float: right;
}