/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map{
height: 91%;
width: 85%;
margin: 20px;
}

#NDVIImageCard {
       margin: 20px;
}

body {
       /*position: absolute;*/

       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-auto-rows: minmax(91%, auto);

}

html, 
body {
    height: 100%;
}

.card-body {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-auto-rows: minmax(91%, 50px);
}